@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {

  .input {

    @apply w-full text-white lg:text-lg xl:text-xl leading-normal border-2 outline-none border-blue-500 px-12 lg:px-16 xl:px-20 py-4 lg:py-4 xl:py-5 bg-black rounded-full placeholder:text-xl lg:placeholder:text-2xl placeholder:text-center placeholder:text-slate-500
  }

  .inputLogin {

    @apply w-[50%] text-white leading-normal border-2 outline-none border-green-500 px-2 lg:px-8 xl:px-12 py-4 lg:py-4 xl:py-5 bg-black rounded-full text-sm lg:text-lg xl:text-xl
  }
}

@layer utilities {

  .bg-gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(194, 16, 16, 1) 0%, rgba(149, 50, 58, 1) 0%, rgba(52, 124, 149, 1) 85%, rgba(47, 128, 149, 1) 100%, rgba(41, 132, 150, 1) 100%);
  }


}